@charset "UTF-8";
*{
    margin: 0px; 
    padding: 0px;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
body {
    margin: 0px; 
    padding: 0px;
    background-image: url("recursos/meet.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 900px;
    width: 100%;
}
[required]
a {
    text-decoration: none;
}

.sorteo { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header img {
    display: flex; 
    justify-content: start; 
    width: 100px; 
    height: 50px; 
    margin: 5px; 
    padding: 5px; 
}

.general {
    display: flex; 
    flex-direction: row;
}
.divchico {
    padding: 10px; 
    margin:10px;
    display: flex; 
    flex-direction: column;
}
.divchico img {
        width: 100%;
    }

.formulario {
    display: flex; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: rgba(255, 255, 255, 0.511);
    padding: 10px;
    margin: 10px;
    
}    

h1 {
    color: rgb(197, 19, 19); 
    font-family:monospace;
    padding: 5px;
    margin: 5px;
    font-size: 40px;
    justify-content:center;

}
h2 {
    color: rgba(355, 255, 255, 0.511); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

input[type='text'], [type='email'], select {
    background-color: rgba(255, 255, 255, 0.699); 
    border-radius: 7px; 
    margin: 10px;
    padding: 5px;
    
}

input[type='submit'] {
    margin: 20px;
    padding: 10px;
    background-color: green;
    font-size: 15px;
    text-align: end;
    color: black;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 5px;
    color: white;
}

input[type='submit']:hover {
    color: black;
    background-color: rgb(197, 19, 19);
    cursor: pointer;
}

input[type='button']:hover {
    color: black;
    background-color: rgb(197, 19, 19);
    cursor: pointer;
}

input[type='button'] {
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.678);
    font-size: 15px;
    text-align: center;
    color: black;
    border-radius: 20px;
}



label {
    color: rgba(255, 255, 255, 0.678);
}

.botoninscripcion {
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0%;
    background-color: rgb(197, 19, 19);
}

footer p{
    text-align: center;

}

.bigote img{
    display: flex; 
    justify-content: start; 
    width: 100px; 
    height: 50px; 
    margin: 5px; 
    padding: 5px; 
}

.fondocharly {
    background-image: url("recursos/fotofondosorteo.jpg") ;
}

/* Formulario */

#formInscrpcion {
    width: 60%;
    margin: 0% auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 10px;
    color: white;
}

#formInscrpcion div {
    margin-bottom: 15px;
}

#formInscrpcion input{
width: 90%;
padding: 10px;
border-radius: 5px;
border: 1px solid gray;
border: none;
box-sizing: border-box;
}

#formInscrpcion select {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.678);
    font-size: 20px;
    box-sizing: border-box;
}

@media(max-width: 600px) {
    .general {
        width: 100%;
        height: auto;
        margin-left: 10px;
        flex-direction: column;
    }
}

